/*Bar that slides up under link on :hover*/
.navbar-default .btn-link:after {
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: rgb(144, 141, 210);
	content: '';
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
	transform: translateY(4px);
}
.navbar-default .btn-link:hover::after,.navbar-default .btn-link:focus::after { 
    opacity: 1;
    transform: translateY(0px);
}

.card {
    width: 60%;
    left: 20%;
    top: 40px;
}
.card__content {
    padding: 1em;
}
.embed-responsive {
	/*16 x 9 ratio*/
    padding-bottom: 56.25%;
}