body {
    /*min-height: 2000px;*/
    padding-top: 50px;
}

/*Animation stuff*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
/*Navbar*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
@keyframes fadeOutUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-25px);
    opacity: 0;
  }
}
.fadeOutUp {
  animation-name: fadeOutUp;
}
/*Main card*/
@Keyframes FadeInDownSmall {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.fadeInDownSmall {
    display: block;
    animation-name: FadeInDownSmall;
}

.navbar-brand {
	padding: 0;
}
.navbar-brand img {
	height: 100%;
}

.navbar-default {
	/*background-color: rgb(190, 196, 208);*/
	background-color: rgb(144, 141, 210);
	border-color: transparent;
	animation-delay: 0.5s;
}

.container-fluid{
	padding: 0;
}

/*Big image background*/
.splash-container {
    position: fixed;
    display: table;
    width: 100%;
    height: 100vh;
    top: 0;
}
.splash-content {
    display: table-cell;
    width: 100%;
    height: 100%;
    min-height: 380px;
    padding: 40px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.splash-image__main, .splash-image__secondary {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url('../../images/barleyx1536.jpg');
}

.splash-image__main {
    opacity: 1;
}

.splash-image__secondary { 
    transition: opacity 1.5s ease;
}

.splash-image__secondary.old {
    opacity: 0;
}

/*Page content*/
.card-container {
  position: relative;
  width: 60%;
  height: 90vh;
  margin: 0 auto;
}
.card {
  padding: 20px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border: 1px solid rgba(0,0,0,.1);
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}